p, form, ul {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: #000000;
	font-size: 16px;
}

h1 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: #000000;
	font-size: 25px;
}

h2 {
	color: #000000;
	font-size: 20px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

h3 {
	color: #000000;
	font-size: 15px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

small {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #000000;
}

a:link {
	color: #0080ff;
}

a:visited {
	color: #ff8000;
}

a:hover {
	color: #ffa500;
}

a:active {
	color: #0080ff;
}

table {
	font-size: 16px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	width: 100%;
	border-collapse: collapse;
}

table th {
	text-align: left;
	background-color: #0080ff;
	color: #ffffff;
	padding: 3px 7px 1px 7px;
}

table td  {
	text-align: left;
	color: #000000;
	border: 1px solid #0080ff;
	padding: 3px 7px 1px 7px;
}

table tr.alt {
	background-color: #cae1ff;
}

#loginform {
	position: fixed;
	top: 49%;
	left: 52%;
	margin-top: -150px;
	margin-left: -150px;
}

#noticebad {
	background-color: #ffebe8;
}

#noticegood {
	background-color: #e8fcff;
}

label.error {
	float: none;
	color: red; 
	padding-left: 5px; 
	vertical-align: top; 
}

.ui-button-text {
	font-size: 0.6em;
}