p, form, ul {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: black;
	font-size: 16px;
}

h1 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: black;
	font-size: 30px;
}

h2 {
	color: black;
	font-size: 20px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

small {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10px;
	color: black;
}

a:link {
	color: #0080ff;
}

a:visited {
	color: #ff8000;
}

a:hover {
	color: #FFA500;
}

a:active {
	color: #0080ff;
}

table {
	color: black;
	font-size: 16px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	width:100%;
	border-collapse:collapse;
}

table td, table th  {
	text-align: left;
	color: black;
	border:1px solid #0080ff;
	padding:3px 7px 1px 7px;
}

table th {
	background-color: #0080ff;
	color:#ffffff;
}