h1, h2
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
color:#000000;
}
p, ul
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 16px;
}
table
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
table td, table th 
{
font-size:1em;
border:1px solid #00B2EE;
padding:3px 7px 2px 7px;
}
table th
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#00B2EE;
color:#ffffff;
}
#form
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 16px;
}
small
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}
a:link 
{
color:#00B2EE;
}  
a:active 
{
color:#FFA500;
}
a:hover
{
color:#FFA500;
}
a:visited 
{
color:#00B2EE;
}